<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755207474673-27li7qu05p7r3gt2cn2jnrl51ir4brl4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755207474673-27li7qu05p7r3gt2cn2jnrl51ir4brl4</string>
	<key>API_KEY</key>
	<string>AIzaSyCXYPKzzPgyVTk_9vZdyCVYMSxppgb-fF0</string>
	<key>GCM_SENDER_ID</key>
	<string>755207474673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.Uubbeerr</string>
	<key>PROJECT_ID</key>
	<string>uberclone-86cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-86cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755207474673:ios:a4ff03b58b4f63d1eb8850</string>
</dict>
</plist>